.green{
    background-color: green;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}
.black{
    background-color: black;
}
.purple{
    background-color: purple;
}
.pink{
    background-color: pink;
}
.brown{
    background-color: brown;
}
